<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<xblock>
    <button class="layui-btn" onclick="x_admin_show('添加用户','http://localhost:8080/company/jobAdd')"><i class="layui-icon"></i>添加</button>
</xblock>
<table id="demo" lay-filter="test"></table>


<script type="text/javascript" th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , cellMinWidth: 80
            , url: 'http://localhost:8080/job/list' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left'}
                , {field: 'name', title: '岗位名', width: 80}
                , {field: 'type', title: '岗位类型', width: 90}
                , {field: 'location', title: '地点', width: 80}
                , {field: 'education', title: '学历', width: 80}
                , {field: 'minSalary', title: '最小薪资', width: 105, sort: true}
                , {field: 'maxSalary', title: '最大薪资', width: 105, sort: true}
                , {field: 'experience', title: '工作经验', width: 100}
                , {field: 'entryTime', title: '入职时间', width: 100}
                , {field: 'phone', title: '联系电话', width: 130}
                , {field: 'email', title: '邮箱', width: 80}
                , {field: 'trade', title: '岗位需求', width: 130,}
                , {field: 'pubTime', title: '发布时间', width: 150, sort: true}
                , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}
            ]]
        });

    });
</script>
</body>

</html>