<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>个人信息</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <tbody>
            <tr>
                <th>姓名</th>
                <td><input type="datetime-local" id="name" value=""></td></tr>
            <tr>
                <th>性别</th>
                <td><input type="datetime-local" id="sex" value=""></td></tr>
            <tr>
                <th>毕业学校</th>
                <td><input type="datetime-local" id="school" value=""></td></tr>
            <tr>
                <th>学历</th>
                <td><input type="datetime-local" id="edu_background" value=""></td></tr>
            <tr>
                <th>专业</th>
                <td><input type="datetime-local" id="major" value=""></td></tr>
            <tr>
                <th>入学时间</th>
                <td><input type="datetime-local" id="enrollment_time" value=""></td></tr>
            <tr>
                <th>毕业时间</th>
                <td><input type="datetime-local" id="graduation_time" value=""></td></tr>
            </tbody>
        </table>
    </div>
</fieldset>

<script type="text/javascript">

</script>
</body>
</html>