<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
</head>
<body>
<fieldset class="layui-elem-field">
    <legend>个人信息</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <tbody th:object="${#request.getAttribute('seeker2')}">
            <tr>
                <th>姓名</th>
                <td>[[*{name}]]</td></tr>
            <tr>
                <th>性别</th>
                <td>[[*{sex}]]</td></tr>
            <tr>
                <th>毕业学校</th>
                <td>[[*{school}]]</td></tr>
            <tr>
                <th>学历</th>
                <td>[[*{eduBackground}]]</td></tr>
            <tr>
                <th>专业</th>
                <td>[[*{major}]]</td></tr>
            <tr>
                <th>入学时间</th>
                <td>[[*{enrollmentTime}]]</td></tr>
            <tr>
                <th>毕业时间</th>
                <td>[[*{graduationTime}]]</td></tr>
            <tr>
                <th>就职公司</th>
                <td>[[*{companyName}]]</td></tr>
            <tr>
                <th>从事行业</th>
                <td>[[*{profession}]]</td></tr>
            <tr>
                <th>职务</th>
                <td>[[*{position}]]</td></tr>
            <tr>
                <th>所属部门</th>
                <td>[[*{department}]]</td></tr>
            <tr>
                <th>工作内容</th>
                <td>[[*{content}]]</td></tr>
            <tr>
                <th>职务</th>
                <td>[[*{position}]]</td></tr>
            </tbody>
        </table>
    </div>
</fieldset>


</body>
</html>