<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>

</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" required  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">毕业学校</label>
        <div class="layui-input-block">
            <input type="text" name="school" required  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学历</label>
        <div class="layui-input-block">
            <input type="text" name="eduBackground" required  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-block">
            <input type="text" name="major" required  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block" lay-filter="sex" >
            <input type="radio" name="sex" value="1" title="男" lay-filter="ChoiceRadio">
            <input type="radio" name="sex" value="2" title="女" checked lay-filter="ChoiceRadio">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">入学时间</label>
        <div class="layui-input-inline">
            <input type="date" name="enrollmentTime" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">毕业时间</label>
        <div class="layui-input-inline">
            <input type="date" name="graduationTime" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            var  sex = $('input[name="sex"]:checked').val();
            $.ajax({
                url:"http://localhost:8080/seeker/update",
                type:"post",
                data:data.field,
                dataType:"json",
                success:function(data){
                    if (data.code == 200){
                        layer.msg("修改成功")
                        var iframeList = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeList);
                    }else if (data.code == 400){
                        layer.msg("修改失败")
                    }
                }
            })
            return false;
        });
    });

</script>
</body>
</html>